@use '../abstracts/' as *;

.btn {
  position: relative;
  text-align: center;
  width: 172px;
  padding: 10px;
  background: transparent;
  background-clip: padding-box;
  transition: background 0.2s ease-in-out;

  &::after {
    position: absolute;
    content: '';
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 4px;
    background: $primary-gradient;
    z-index: -1;
  }

  @include on-hover {
    &:is(:hover, :active, :focus-visible) {
      background: $dark-blue;
    }
  }
}

.btn-skip {
  position: absolute;
  //   top: 0;
  top: -100%;
  left: 0;
  background-color: green;
}
