@use '../abstracts/' as *;
@use 'sass:map';

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  color: $white;
}

.skip-btn {
  font-weight: map.get($font-weights, 'bold');
}

.btn {
  @include text;
  @include font-size(14px, 16px);
  color: $white;
}

.nav {
  &__listitem {
    @include text;
    @include font-size(18px, 16px);
  }

  &__link {
    color: $white;

    @include on-hover {
      &:is(:hover, :active, :focus-visible) {
        color: transparent;
        background: $primary-gradient;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.hero {
  &__heading {
    @include heading;
    @include font-size(32px, 80px);
    text-align: center;

    &--highlighted {
      color: $soft-purple;
    }
  }

  &__paragraph {
    @include text;
    @include font-size(13px, 20px);
    text-align: center;
    max-width: 40ch;
  }

  &__abstract {
    @include text(bold);
    font-size: clamp(13px, 4.1vw, 20px);
    font-style: italic;
  }

  @include respond-to(large) {
    &__heading {
      text-align: left;
      font-size: clamp(48px, 5vw, 80px);
    }

    &__paragraph {
      text-align: left;
    }

    &__abstract {
      @include text(bold);
      font-size: clamp(20px, 2.5vw, 36px);
      font-style: italic;
    }
  }
}

.timer {
  &__digit {
    font-family: $clock-font;
    @include font-size(48px, 64px);
  }

  &__tag {
    font-size: 14px;
  }
}

.overview {
  &__heading {
    @include heading;
    @include font-size(20px, 32px);
    text-align: center;

    &--highlighted {
      display: block;
      color: $soft-purple;
    }
  }

  &__paragraph {
    @include text;
    @include font-size(13px, 14px);
    text-align: center;
    max-width: 56.5ch;

    &--highlighted {
      @include text(bold);
      color: $light-purple;
    }
  }

  @include respond-to(medium) {
    &__heading {
      text-align: start;
    }

    &__paragraph {
      text-align: start;
    }
  }
}

.faqs {
  &__heading {
    @include heading;
    @include font-size(20px, 32px);
    text-align: center;

    &--highlighted {
      display: block;
      color: $soft-purple;
    }
  }

  &__paragraph {
    @include text;
    @include font-size(12px, 14px);
    text-align: center;
    max-width: 40ch;

    &--highlighted {
      @include text(semi-bold);
    }
  }

  @include respond-to(medium) {
    &__heading {
      text-align: start;
    }

    &__paragraph {
      text-align: start;
    }
  }
}

.accordion {
  &__heading {
    @include text;
    @include font-size(12px, 14px);
  }

  &__paragraph {
    @include text;
    @include font-size(12px, 14px);
  }
}

.timeline {
  &__heading {
    @include heading;
    @include font-size(20px, 32px);
    text-align: center;
  }

  &__paragraph {
    @include text;
    font-size: 14px;
    text-align: center;
  }

  &__event {
    &::before {
      @include text(bold);
      font-size: clamp(12px, 2.5vw, 24px);
      text-align: center;
    }
  }

  &__title {
    @include text(bold);
    font-size: clamp(12px, 2.5vw, 24px);
    color: $soft-purple;
  }

  &__info {
    @include text;
    font-size: clamp(12px, 2vw, 16px);
  }

  &__date {
    @include text(bold);
    font-size: clamp(12px, 2.5vw, 24px);
    color: $soft-purple;
  }

  @include respond-to(medium) {
    &__title {
      text-align: end;
    }

    &__event-container:nth-of-type(even) &__title {
      text-align: start;
    }

    &__info {
      text-align: end;
    }

    &__event-container:nth-of-type(even) &__info {
      text-align: start;
    }

    &__event-container:nth-of-type(even) &__date {
      text-align: end;
    }
  }
}

.prizes {
  &__heading {
    @include heading;
    @include font-size(20px, 32px);
    text-align: center;

    &--highlighted {
      display: block;
      color: $soft-purple;
    }
  }

  &__paragraph {
    @include text;
    @include font-size(12px, 14px);
    text-align: center;
    max-width: 35ch;
  }

  &__title {
    @include text(bold);
    font-size: clamp(12px, 2vw, 24px);
    text-align: center;

    &--highlighted {
      color: $soft-purple;
    }
  }

  &__position:nth-of-type(2) &__title--highlighted {
    color: $purple;
  }

  @include respond-to(medium) {
    &__heading {
      text-align: left;
    }

    &__paragraph {
      text-align: left;
    }

    &__title {
      &--highlighted {
        font-size: clamp(18px, 2vw, 32px);
      }
    }
  }
}

.partners {
  &__heading {
    @include heading;
    @include font-size(20px, 32px);
    text-align: center;
  }

  &__paragraph {
    @include text;
    @include font-size(12px, 14px);
    text-align: center;
    max-width: 55ch;
  }
}
