@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*
  CSS Reset from
  Josh: https://www.joshwcomeau.com/css/custom-css-reset/
  Andy-bell: https://andy-bell.co.uk/a-more-modern-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* Reset Ends */
/* screen-reader-only element-reset */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Typography styling */
body {
  color: #fff;
}

.skip-btn {
  font-weight: 700;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 3.5vw, 16px);
  color: #fff;
}

.nav__listitem {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3.5vw, 16px);
}
.nav__link {
  color: #fff;
}
@media (hover: hover) {
  .nav__link:is(:hover, :active, :focus-visible) {
    color: transparent;
    background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 3.5vw, 80px);
  text-align: center;
}
.hero__heading--highlighted {
  color: #d434fe;
}
.hero__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 3.5vw, 20px);
  text-align: center;
  max-width: 40ch;
}
.hero__abstract {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 4.1vw, 20px);
  font-style: italic;
}
@media screen and (min-width: 64rem) {
  .hero__heading {
    text-align: left;
    font-size: clamp(48px, 5vw, 80px);
  }
  .hero__paragraph {
    text-align: left;
  }
  .hero__abstract {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 36px);
    font-style: italic;
  }
}

.timer__digit {
  font-family: "Unica One", cursive;
  font-size: clamp(48px, 3.5vw, 64px);
}
.timer__tag {
  font-size: 14px;
}

/* Styling Ends */
/* Animation Keyframes */
@keyframes reveal-nav {
  from {
    right: -100%;
  }
  to {
    right: 10px;
  }
}
@keyframes hide-nav {
  to {
    right: -100%;
  }
}
@keyframes reveal-backdrop {
  from {
    opacity: 0;
  }
}
/* Animation Keyframes End */
/* Body styling */
body {
  background-color: #150e28;
}

/* Styling Ends */
/* Navigation styling */
.hamburger {
  position: relative;
  width: 25px;
  height: auto;
}
.hamburger__toggle {
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 1;
}
.hamburger__icon {
  width: 100%;
  background-color: #150e28;
}
@media screen and (min-width: 64rem) {
  .hamburger {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 50px;
  width: min(100% - 20px, 348px);
  padding: 28px 35px 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  background-color: #150e28;
  display: none;
  z-index: 1000;
}
.nav_open {
  display: flex;
  animation: reveal-nav 0.5s ease;
}
.nav_closing {
  display: flex;
  animation: hide-nav 0.5s ease;
}
.nav__hamburger {
  position: relative;
  background-clip: padding-box;
}
.nav__hamburger::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 50%;
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  z-index: -1;
}
.nav__icon {
  width: 100%;
  padding: 4px;
  border-radius: 50%;
  background-color: #150e28;
}
.nav__inner {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav__listitem {
  align-self: start;
}
@media screen and (min-width: 64rem) {
  .nav {
    position: relative;
    display: flex;
    width: 60%;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    z-index: 0;
  }
  .nav__inner {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
}

/* Styling Ends */
/* PopUp styling */
.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

/* Styling Ends */
/* Header styling */
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  background-color: #150e28;
  z-index: 10;
}
@media screen and (min-width: 87.5rem) {
  .header {
    padding: 30px 100px;
  }
}

.logo {
  max-width: 120px;
}
@media screen and (min-width: 64rem) {
  .logo {
    max-width: 170px;
  }
}

.backdrop {
  display: none;
}
.backdrop_show {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0.4;
  background-color: #150e28;
}

/* Styling Ends */
/* Footer styling */
/* Styling Ends */
/* Form styling */
/* Styling Ends */
/* PopUp styling */
/* Styling Ends */
/* Bottons styling */
.btn {
  position: relative;
  text-align: center;
  width: 172px;
  padding: 10px;
  background: transparent;
  background-clip: padding-box;
  transition: background 0.2s ease-in-out;
}
.btn::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 4px;
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  z-index: -1;
}
@media (hover: hover) {
  .btn:is(:hover, :active, :focus-visible) {
    background: #150e28;
  }
}

.btn-skip {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: green;
}

/* Styling Ends */
/* Home Page styling */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: 100vh;
  padding-top: 170px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 2rem;
  margin-top: auto;
}
.hero__heading--abstract {
  position: relative;
}
.hero__heading--abstract::before {
  position: absolute;
  content: "";
  top: -50%;
  right: 20%;
  width: 20px;
  height: 27px;
  background-image: url(../images/creative.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__heading--highlighted {
  display: inline-flex;
  align-items: center;
  justify-content: end;
}
.hero__heading--highlighted img {
  width: 32px;
  height: 32px;
}
.hero__paragraph {
  margin-bottom: 20px;
}
.hero__abstract {
  position: absolute;
  top: 100px;
}
.hero__abstract--highlighed {
  position: relative;
}
.hero__abstract--highlighed::after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  left: 0;
  height: 10px;
  background-image: url(../images/curved-underline.svg);
  background-repeat: no-repeat;
}
.hero__img-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: auto;
}
.hero__img-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 5%;
  bottom: 0;
  width: 87%;
  height: 90%;
  background-image: url(../images/hero-overlay.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 48rem) {
  .hero {
    padding-top: 180px;
  }
  .hero__img-container {
    max-width: 550px;
  }
}
@media screen and (min-width: 64rem) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding-top: 0;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100dvh;
    width: 50%;
    padding-top: 120px;
    padding-right: 0;
  }
  .hero__heading--abstract::before {
    width: 30px;
    height: 45px;
  }
  .hero__heading--highlighted img {
    width: 40px;
    height: 40px;
  }
  .hero__paragraph {
    margin-bottom: 25px;
  }
  .hero__btn {
    margin-bottom: 30px;
  }
  .hero__abstract {
    right: 50px;
  }
  .hero__img-container {
    max-width: 50%;
    padding-top: 120px;
  }
  .hero__img-container::after {
    top: 120px;
    height: calc(90% - 120px);
  }
}
@media screen and (min-width: 87.5rem) {
  .hero__content {
    padding-top: 200px;
    padding-left: 100px;
    z-index: 5;
    width: 60%;
  }
  .hero__heading--abstract::before {
    top: -40px;
    right: 20%;
    width: 40px;
    height: 60px;
  }
  .hero__heading--highlighted img {
    width: 60px;
    height: 60px;
  }
  .hero__paragraph {
    margin-bottom: 30px;
  }
  .hero__btn {
    margin-bottom: 60px;
  }
  .hero__abstract {
    top: 110px;
    right: 70px;
  }
  .hero__img-container {
    max-width: 40%;
  }
}

/* Styling Ends */
/* Contact Page styling */
/* Styling Ends */
/* Register Page styling */
/* Styling Ends *//*# sourceMappingURL=style.css.map */