@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*
  CSS Reset from
  Josh: https://www.joshwcomeau.com/css/custom-css-reset/
  Andy-bell: https://andy-bell.co.uk/a-more-modern-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* Reset Ends */
/* screen-reader-only element-reset */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Typography styling */
body {
  color: #fff;
}

.skip-btn {
  font-weight: 700;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 3.5vw, 16px);
  color: #fff;
}

.nav__listitem {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3.5vw, 16px);
}
.nav__link {
  color: #fff;
}
@media (hover: hover) {
  .nav__link:is(:hover, :active, :focus-visible) {
    color: transparent;
    background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 3.5vw, 80px);
  text-align: center;
}
.hero__heading--highlighted {
  color: #d434fe;
}
.hero__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 3.5vw, 20px);
  text-align: center;
  max-width: 40ch;
}
.hero__abstract {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 4.1vw, 20px);
  font-style: italic;
}
@media screen and (min-width: 64rem) {
  .hero__heading {
    text-align: left;
    font-size: clamp(48px, 5vw, 80px);
  }
  .hero__paragraph {
    text-align: left;
  }
  .hero__abstract {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 36px);
    font-style: italic;
  }
}

.timer__digit {
  font-family: "Unica One", cursive;
  font-size: clamp(48px, 3.5vw, 64px);
}
.timer__tag {
  font-size: 14px;
}

.overview__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.overview__heading--highlighted {
  display: block;
  color: #d434fe;
}
.overview__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 3.5vw, 14px);
  text-align: center;
  max-width: 56.5ch;
}
.overview__paragraph--highlighted {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ff26b9;
}
@media screen and (min-width: 48rem) {
  .overview__heading {
    text-align: start;
  }
  .overview__paragraph {
    text-align: start;
  }
}

.faqs__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.faqs__heading--highlighted {
  display: block;
  color: #d434fe;
}
.faqs__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: center;
  max-width: 40ch;
}
.faqs__paragraph--highlighted {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .faqs__heading {
    text-align: start;
  }
  .faqs__paragraph {
    text-align: start;
  }
}

.accordion__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
}
.accordion__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
}

.timeline__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.timeline__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.timeline__event::before {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 2.5vw, 24px);
  text-align: center;
}
.timeline__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 2.5vw, 24px);
  color: #d434fe;
}
.timeline__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 2vw, 16px);
}
.timeline__date {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 2.5vw, 24px);
  color: #d434fe;
}
@media screen and (min-width: 48rem) {
  .timeline__title {
    text-align: end;
  }
  .timeline__event-container:nth-of-type(even) .timeline__title {
    text-align: start;
  }
  .timeline__info {
    text-align: end;
  }
  .timeline__event-container:nth-of-type(even) .timeline__info {
    text-align: start;
  }
  .timeline__event-container:nth-of-type(even) .timeline__date {
    text-align: end;
  }
}

.prizes__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.prizes__heading--highlighted {
  display: block;
  color: #d434fe;
}
.prizes__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: center;
  max-width: 35ch;
}
.prizes__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 2vw, 24px);
  text-align: center;
}
.prizes__title--highlighted {
  color: #d434fe;
}
.prizes__position:nth-of-type(2) .prizes__title--highlighted {
  color: #903aff;
}
@media screen and (min-width: 48rem) {
  .prizes__heading {
    text-align: left;
  }
  .prizes__paragraph {
    text-align: left;
  }
  .prizes__title--highlighted {
    font-size: clamp(18px, 2vw, 32px);
  }
}

.partners__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.partners__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: center;
  max-width: 55ch;
}

.policy__heading {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.5vw, 32px);
  text-align: center;
}
.policy__heading--highlighted {
  display: block;
  color: #d434fe;
}
.policy__date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
.policy__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: center;
}
.policy__paragraph--highlighted {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 3.5vw, 14px);
  text-align: start;
}
.policy__sub-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 3.5vw, 16px);
  color: #d434fe;
}
.policy__list {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3.5vw, 14px);
}
@media screen and (min-width: 48rem) {
  .policy__heading {
    text-align: left;
  }
  .policy__date {
    text-align: left;
  }
  .policy__paragraph {
    text-align: left;
    max-width: 45ch;
  }
  .policy__date + .policy__paragraph {
    max-width: 48ch;
  }
}

/* Styling Ends */
/* Animation Keyframes */
@keyframes reveal-nav {
  from {
    right: -100%;
  }
  to {
    right: 10px;
  }
}
@keyframes hide-nav {
  to {
    right: -100%;
  }
}
@keyframes reveal-backdrop {
  from {
    opacity: 0;
  }
}
@keyframes rotate-icon {
  to {
    top: -25%;
    transform: rotate(400deg);
  }
}
/* Animation Keyframes End */
/* Body styling */
body {
  background-color: #150e28;
}

/* Styling Ends */
/* Navigation styling */
.hamburger {
  position: relative;
  width: 25px;
  height: auto;
}
.hamburger__toggle {
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 1;
}
.hamburger__icon {
  width: 100%;
  background-color: #150e28;
}
@media screen and (min-width: 64rem) {
  .hamburger {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 50px;
  width: min(100% - 20px, 348px);
  padding: 28px 35px 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  background-color: #150e28;
  display: none;
  z-index: 1000;
}
.nav_open {
  display: flex;
  animation: reveal-nav 0.5s ease;
}
.nav_closing {
  display: flex;
  animation: hide-nav 0.5s ease;
}
.nav__hamburger {
  position: relative;
  background-clip: padding-box;
}
.nav__hamburger::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 50%;
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  z-index: -1;
}
.nav__icon {
  width: 100%;
  padding: 4px;
  border-radius: 50%;
  background-color: #150e28;
}
.nav__inner {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav__listitem {
  align-self: start;
}
@media screen and (min-width: 64rem) {
  .nav {
    position: relative;
    display: flex;
    width: 60%;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    z-index: 0;
  }
  .nav__inner {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
}

/* Styling Ends */
/* PopUp styling */
.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

/* Styling Ends */
/* PopUp styling */
.accordion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 14px;
  width: 100%;
}
.accordion__container {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #d434fe;
}
.accordion__heading {
  position: relative;
  list-style: none;
}
.accordion__heading::after {
  content: "";
  position: absolute;
  top: calc(15% + 6px);
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url(../icons/accordion-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transition: all 1s ease;
}
.accordion__container[open] .accordion__heading::after {
  transform: translateY(-85%) rotate(135deg);
}
.accordion__paragraph {
  margin-top: 10px;
}
@media screen and (min-width: 87.5rem) {
  .accordion {
    gap: 28px;
  }
}

/* Styling Ends */
/* Header styling */
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  background-color: #150e28;
  z-index: 10;
}
@media screen and (min-width: 87.5rem) {
  .header {
    padding: 30px 100px;
  }
}

.logo {
  max-width: 100px;
}
@media screen and (min-width: 64rem) {
  .logo {
    max-width: 170px;
  }
}

.backdrop {
  display: none;
}
.backdrop_show {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(21, 14, 40, 0.2);
}

/* Styling Ends */
/* Footer styling */
/* Styling Ends */
/* Form styling */
/* Styling Ends */
/* PopUp styling */
/* Styling Ends */
/* Bottons styling */
.btn {
  position: relative;
  display: block;
  text-align: center;
  width: 172px;
  padding: 10px;
  background: transparent;
  background-clip: padding-box;
  transition: background 0.2s ease-in-out;
}
.btn::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 4px;
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  z-index: -1;
}
@media (hover: hover) {
  .btn:is(:hover, :active, :focus-visible) {
    background: #150e28;
  }
}

.btn-skip {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: green;
}

/* Styling Ends */
/* Home Page styling */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: 100vh;
  padding-top: 170px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 2rem;
  margin-top: auto;
}
.hero__heading--abstract {
  position: relative;
}
.hero__heading--abstract::before {
  position: absolute;
  content: "";
  top: -50%;
  right: 20%;
  width: 20px;
  height: 27px;
  background-image: url(../images/creative.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__heading--highlighted {
  display: inline-flex;
  align-items: center;
  justify-content: end;
}
.hero__heading--highlighted img {
  width: 32px;
  height: 32px;
}
.hero__paragraph {
  margin-bottom: 20px;
}
.hero__abstract {
  position: absolute;
  top: 100px;
  z-index: 5;
}
.hero__abstract--highlighed {
  position: relative;
}
.hero__abstract--highlighed::after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  left: 0;
  height: 10px;
  background-image: url(../images/curved.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__img-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: auto;
}
.hero__img-container::after {
  position: absolute;
  content: "";
  left: 5%;
  bottom: 10%;
  width: 87%;
  height: 90%;
  background-image: url(../images/hero-overlay.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 48rem) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 40px;
    padding-top: 180px;
  }
  .hero__abstract {
    top: 110px;
  }
  .hero__img-container {
    max-width: 550px;
  }
}
@media screen and (min-width: 64rem) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .hero__heading--abstract::before {
    width: 30px;
    height: 45px;
  }
  .hero__heading--highlighted img {
    width: 40px;
    height: 40px;
  }
  .hero__paragraph {
    margin-bottom: 25px;
  }
  .hero__btn {
    margin-bottom: 30px;
  }
  .hero__abstract {
    right: 50px;
  }
  .hero__abstract--highlighed::after {
    height: 20px;
    bottom: -15px;
  }
  .hero__img-container {
    max-width: 50%;
  }
}
@media screen and (min-width: 87.5rem) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    padding-top: 200px;
    padding-left: 100px;
  }
  .hero__heading--abstract::before {
    top: -40px;
    right: 20%;
    width: 40px;
    height: 60px;
  }
  .hero__heading--highlighted img {
    width: 60px;
    height: 60px;
  }
  .hero__paragraph {
    margin-bottom: 30px;
  }
  .hero__btn {
    margin-bottom: 60px;
  }
  .hero__abstract {
    top: 110px;
    right: 70px;
  }
  .hero__img-container {
    max-width: 40%;
    padding-top: 160px;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.overview__img-container {
  width: min(100%, 270px);
}
.overview__img {
  margin-inline: auto;
}
.overview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview__heading {
  margin-bottom: 15px;
}
.overview__paragraph {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}
.overview__btn {
  margin-top: 20px;
}
@media screen and (min-width: 48rem) {
  .overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }
  .overview:nth-of-type(odd) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .overview__img-container {
    width: 45%;
  }
  .overview__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
  }
  .overview__heading {
    margin-bottom: 25px;
  }
  .overview__btn {
    margin-top: 30px;
  }
}
@media screen and (min-width: 64rem) {
  .overview__img-container {
    width: 50%;
  }
  .overview__content {
    width: 50%;
  }
  .overview__paragraph {
    gap: 10px;
  }
  .overview__heading {
    margin-bottom: 35px;
  }
  .overview__btn {
    margin-top: 40px;
  }
}
@media screen and (min-width: 87.5rem) {
  .overview {
    padding-inline: 100px;
  }
  .overview:last-of-type {
    padding: 6rem 100px;
  }
  .overview__paragraph {
    gap: 20px;
  }
  .overview__btn {
    margin-top: 50px;
  }
}

.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.faqs__img-container {
  width: min(100%, 270px);
}
.faqs__img {
  margin-inline: auto;
}
.faqs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faqs__heading {
  margin-bottom: 15px;
}
.faqs__paragraph {
  margin-bottom: 40px;
}
@media screen and (min-width: 48rem) {
  .faqs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }
  .faqs__img-container {
    width: 45%;
  }
  .faqs__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
  }
  .faqs__heading {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 64rem) {
  .faqs__img-container {
    width: 50%;
  }
  .faqs__content {
    width: 50%;
  }
  .faqs__heading {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 87.5rem) {
  .faqs {
    padding-inline: 100px;
    padding-inline-start: 150px;
  }
  .faqs__img-container {
    width: 60%;
  }
  .faqs__content {
    width: 40%;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.timeline__heading {
  margin-bottom: 20px;
}
.timeline__paragraph {
  max-width: 40ch;
  margin-bottom: 40px;
}
.timeline__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.timeline__event-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: baseline;
  width: min(100%, 1050px);
  margin-inline: auto;
  padding-inline-start: 30px;
}
.timeline__event::before {
  position: absolute;
  content: "1";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
}
.timeline__event::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  transform: translateX(10px);
  width: 2px;
  height: calc(100% - 25px);
  background-color: #d434fe;
  z-index: -1;
}
.timeline__event-container:nth-of-type(2) .timeline__event::before {
  content: "2";
}
.timeline__event-container:nth-of-type(3) .timeline__event::before {
  content: "3";
}
.timeline__event-container:nth-of-type(4) .timeline__event::before {
  content: "4";
}
.timeline__event-container:nth-of-type(5) .timeline__event::before {
  content: "5";
}
.timeline__event-container:nth-of-type(6) .timeline__event::before {
  content: "6";
}
.timeline__title {
  margin-bottom: 10px;
}
.timeline__info {
  margin-bottom: 12px;
}
@media screen and (min-width: 48rem) {
  .timeline {
    padding: 6rem 2rem;
  }
  .timeline__paragraph {
    margin-bottom: 60px;
  }
  .timeline__inner {
    gap: 50px;
  }
  .timeline__event-container {
    padding-inline-start: 0;
  }
  .timeline__event {
    width: 46%;
    margin-block-start: auto;
  }
  .timeline__event::before {
    transform: translateX(-15px);
    left: 50%;
    width: 30px;
    height: 30px;
  }
  .timeline__event::after {
    transform: translateX(0);
    top: -30%;
    left: 50%;
    height: calc(100% - 40px + 30%);
  }
  .timeline__event-container:nth-of-type(even) .timeline__event {
    margin-inline-start: auto;
  }
  .timeline__event-container:first-of-type .timeline__event::after {
    top: 0;
    height: calc(100% - 40px);
  }
  .timeline__content {
    transform: translateY(25%);
  }
  .timeline__info {
    margin-bottom: 0;
  }
  .timeline__date {
    position: absolute;
    bottom: 10px;
    left: 54%;
  }
  .timeline__event-container:nth-of-type(even) .timeline__date {
    width: 46%;
    left: 0;
  }
}
@media screen and (min-width: 64rem) {
  .timeline__paragraph {
    margin-bottom: 80px;
  }
  .timeline__event-container {
    min-height: 150px;
  }
}
@media screen and (min-width: 87.5rem) {
  .timeline {
    padding: 8rem 100px;
  }
  .timeline__heading {
    margin-bottom: 16px;
  }
  .timeline__paragraph {
    margin-bottom: 100px;
  }
  .timeline__event::before {
    transform: translateX(-25px);
    width: 50px;
    height: 50px;
  }
  .timeline__event::after {
    top: -20%;
    left: 50%;
    height: calc(100% - 60px + 20%);
  }
  .timeline__event-container:first-of-type .timeline__event::after {
    top: 0;
    height: calc(100% - 60px);
  }
}

.prizes {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 40px;
  padding: 4rem 0rem;
}
.prizes__content {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-inline: auto;
}
.prizes__heading {
  margin-bottom: 5px;
}
.prizes__img-container {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-inline: auto;
  width: min(100%, 270px);
}
.prizes__img {
  margin-inline: auto;
}
.prizes__inner {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 25%;
  margin-inline: auto;
}
.prizes__position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 125px;
  min-width: 90px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d434fe;
  background-color: rgba(212, 52, 254, 0.12);
}
.prizes__position::before {
  position: absolute;
  content: "";
  top: -45%;
  width: 80%;
  aspect-ratio: 2/3;
  background-image: url(../images/position2.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
.prizes__position:nth-of-type(2) {
  transform: translateY(10px);
  border-color: #903aff;
  background-color: rgba(144, 58, 255, 0.12);
}
.prizes__position:nth-of-type(2)::before {
  top: -85%;
  width: 120%;
  aspect-ratio: 2/3;
  background-image: url(../images/position1.png);
  background-size: 110%;
}
.prizes__position:nth-of-type(3)::before {
  background-image: url(../images/position3.png);
}
.prizes__title {
  margin-top: 50%;
}
.prizes__title > span {
  display: block;
}
.prizes__position:nth-of-type(2) .prizes__title {
  margin-top: 30%;
}
@media screen and (min-width: 48rem) {
  .prizes {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, max-content);
    padding: 6rem 2rem;
  }
  .prizes__content {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .prizes__img-container {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prizes__inner {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .prizes__position {
    padding: 20px;
  }
  .prizes__position::before {
    top: -50%;
  }
  .prizes__position:nth-of-type(2)::before {
    top: -85%;
  }
  .prizes__title {
    margin-top: 55%;
  }
  .prizes__position:nth-of-type(2) .prizes__title {
    margin-top: 58%;
  }
}
@media screen and (min-width: 64rem) {
  .prizes {
    padding: 8rem 100px;
  }
  .prizes__img-container {
    width: 100%;
  }
  .prizes__position {
    padding: 30px;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.partners__heading {
  margin-bottom: 5px;
}
.partners__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 15px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
}
.partners__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  width: min(100%, 900px);
}
.partners__logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners__logo-container:nth-of-type(1), .partners__logo-container:nth-of-type(2), .partners__logo-container:nth-of-type(3) {
  padding: 0 10px 8px;
}
.partners__logo-container:nth-of-type(4), .partners__logo-container:nth-of-type(5), .partners__logo-container:nth-of-type(6) {
  padding: 8px 10px 0;
}
.partners__logo-container::before, .partners__logo-container::after {
  position: absolute;
  content: "";
  background-color: #d434fe;
}
.partners__logo-container:nth-of-type(1)::before, .partners__logo-container:nth-of-type(2)::before, .partners__logo-container:nth-of-type(4)::before, .partners__logo-container:nth-of-type(5)::before {
  right: -3px;
  height: 80%;
  width: 2px;
}
.partners__logo-container:nth-of-type(1)::before, .partners__logo-container:nth-of-type(2)::before {
  top: 0;
}
.partners__logo-container:nth-of-type(4)::before, .partners__logo-container:nth-of-type(5)::before {
  bottom: 0;
}
.partners__logo-container:nth-of-type(1)::after, .partners__logo-container:nth-of-type(2)::after, .partners__logo-container:nth-of-type(3)::after {
  bottom: -3px;
  height: 2px;
  width: 85%;
}
.partners__logo-container:nth-of-type(2)::after {
  width: 70%;
}
.partners__logo-container:nth-of-type(1)::after {
  left: 0;
}
.partners__logo-container:nth-of-type(3)::after {
  right: 0;
}
.partners__logo {
  width: 100%;
  max-width: 56px;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 48rem) {
  .partners {
    padding: 6em 2rem;
  }
  .partners__heading {
    margin-bottom: 10px;
  }
  .partners__inner {
    margin-top: 60px;
    padding: 80px 100px;
  }
  .partners__logo-container:nth-of-type(1), .partners__logo-container:nth-of-type(2), .partners__logo-container:nth-of-type(3) {
    padding: 0 20px 15px;
  }
  .partners__logo-container:nth-of-type(4), .partners__logo-container:nth-of-type(5), .partners__logo-container:nth-of-type(6) {
    padding: 15px 20px 0;
  }
  .partners__logo {
    max-width: 110px;
  }
}
@media screen and (min-width: 64rem) {
  .partners__inner {
    margin-top: 60px;
    padding: 100px 120px;
  }
  .partners__logo-container:nth-of-type(1), .partners__logo-container:nth-of-type(2), .partners__logo-container:nth-of-type(3) {
    padding: 0 35px 25px;
  }
  .partners__logo-container:nth-of-type(4), .partners__logo-container:nth-of-type(5), .partners__logo-container:nth-of-type(6) {
    padding: 25px 35px 0;
  }
  .partners__logo {
    max-width: 180px;
  }
}
@media screen and (min-width: 87.5rem) {
  .partners {
    padding: 8rem 100px;
  }
  .partners__inner {
    margin-top: 100px;
    padding: 130px 150px;
  }
  .partners:nth-of-type(1), .partners:nth-of-type(2), .partners:nth-of-type(3) {
    padding: 0 55px 45px;
  }
  .partners:nth-of-type(4), .partners:nth-of-type(5), .partners:nth-of-type(6) {
    padding: 4 5px 55px 0;
  }
  .partners__logo {
    max-width: 230px;
  }
}

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 4rem 2rem;
}
.policy__heading {
  margin-bottom: 5px;
}
.policy__date {
  margin-bottom: 20px;
}
.policy__inner {
  width: min(100%, 569px);
  padding: 45px 15px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background-color: rgba(217, 217, 217, 0.03);
}
.policy__sub-heading {
  margin-top: 20px;
  margin-bottom: 5px;
}
.policy__paragraph--highlighted {
  margin-bottom: 20px;
}
.policy__list {
  padding-inline-start: 40px;
}
.policy__listitem {
  position: relative;
}
.policy__listitem::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -30px;
  width: 17px;
  height: 17px;
  background-image: url(../icons/list\ marker.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.policy__listitem:first-of-type {
  margin-bottom: 24px;
}
.policy__btn {
  margin: 0 auto;
  margin-top: 40px;
}
.policy__img-container {
  padding: 100px 0 80px;
  width: min(100%, 270px);
  background-image: url(../images/policy-bg.png);
  background-size: 249px auto;
  background-position: center 5%;
  background-repeat: no-repeat;
}
.policy__img {
  margin-inline: auto;
}
@media screen and (min-width: 48rem) {
  .policy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 2rem;
  }
  .policy__content {
    width: 50%;
  }
  .policy__heading {
    margin-bottom: 10px;
  }
  .policy__inner {
    padding: 45px 25px;
    margin-top: 45px;
  }
  .policy__img-container {
    width: 50%;
    padding: 150px 0 80px;
    background-size: 100% auto;
    background-position: center 5%;
  }
}
@media screen and (min-width: 64rem) {
  .policy {
    gap: 50px;
  }
  .policy__heading {
    margin-bottom: 14px;
  }
  .policy__date {
    margin-bottom: 25px;
  }
  .policy__inner {
    padding: 50px 35px;
    margin-top: 55px;
  }
}
@media screen and (min-width: 87.5rem) {
  .policy {
    padding: 8rem 100px;
  }
  .policy__heading {
    margin-bottom: 17px;
  }
  .policy__date {
    margin-bottom: 30px;
  }
  .policy__inner {
    padding: 60px 40px;
    padding-left: 70px;
    margin-top: 69px;
  }
  .policy__btn {
    margin-left: calc(50% - 96px);
  }
  .policy__img-container {
    width: 50%;
    padding: 0;
    padding-top: 200px;
    background-size: auto 648px;
    background-position: center 0%;
  }
}

/* Styling Ends */
/* Contact Page styling */
/* Styling Ends */
/* Register Page styling */
/* Styling Ends *//*# sourceMappingURL=style.css.map */