@use '../abstracts/' as *;

.hamburger {
  position: relative;
  width: 25px;
  height: auto;

  &__toggle {
    position: absolute;
    top: 25%;
    left: 25%;
    opacity: 1;
  }

  &__icon {
    width: 100%;
    background-color: $dark-blue;
  }

  @include respond-to(large) {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  @include display-flex(column, end, space-between);
  gap: 50px;
  width: min(100%, 348px);
  padding: 28px 35px 50px;
  border: 1px solid $border-grey;
  border-radius: 8px;
  background-color: $dark-blue;
  // backdrop-filter: blur(30px);
  display: none;
  z-index: 1000;

  &_open {
    display: flex;
    animation: reveal-nav 0.5s ease;
  }

  &_closing {
    display: flex;
    animation: hide-nav 0.5s ease;
  }

  &__hamburger {
    position: relative;
    background-clip: padding-box;
    // z-index: 999;

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-radius: 50%;
      background: $primary-gradient;
      z-index: -1;
    }
  }

  &__icon {
    width: 100%;
    padding: 4px;
    border-radius: 50%;
    background-color: $dark-blue;
  }

  &__inner {
    align-self: start;
    @include display-flex(column, start);
    gap: 20px;
  }

  @include respond-to(large) {
    position: relative;
    display: flex;
    width: 60%;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    z-index: 0;

    &__inner {
      align-self: center;
      width: 100%;
      @include display-flex(row, center, space-between);
    }

    &__list {
      @include display-flex(row, center, space-between);
      width: 60%;
    }
  }
}
