@use '../abstracts/' as *;

.hero {
  @include display-flex;
  gap: 16px;
  min-height: 100vh;
  padding-top: 170px;
  border-bottom: 1px solid $border-grey;

  &__content {
    @include display-flex;
    gap: 10px;
    padding: 0 2rem;
    margin-top: auto;
  }

  &__heading {
    &--abstract {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: -50%;
        right: 20%;
        width: 20px;
        height: 27px;
        background-image: url(../images/creative.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--highlighted {
      display: inline-flex;
      align-items: center;
      justify-content: end;

      & img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__paragraph {
    margin-bottom: 20px;
  }

  &__abstract {
    position: absolute;
    top: 100px;
    z-index: 5;

    &--highlighed {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: -10px;
        right: 0;
        left: 0;
        height: 10px;
        background-image: url(../images/curved.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: auto;

    &::after {
      position: absolute;
      content: '';
      left: 5%;
      bottom: 10%;
      width: calc(100% - 13%);
      height: 90%;
      background-image: url(../images/hero-overlay.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  @include respond-to(medium) {
    @include display-flex(column, center, end);
    gap: 40px;
    padding-top: 180px;

    &__abstract {
      top: 110px;
    }

    &__img-container {
      max-width: 550px;
    }
  }

  @include respond-to(large) {
    @include display-flex(row, center, space-between);
    gap: 0;

    &__content {
      @include display-flex(column, start);
      width: 50%;
      padding-right: 0;
      padding-bottom: 50px;
    }

    &__heading {
      &--abstract {
        &::before {
          width: 30px;
          height: 45px;
        }
      }

      &--highlighted {
        & img {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__paragraph {
      margin-bottom: 25px;
    }

    &__btn {
      margin-bottom: 30px;
    }

    &__abstract {
      right: 50px;

      &--highlighed {
        &::after {
          height: 20px;
          bottom: -15px;
        }
      }
    }

    &__img-container {
      max-width: 50%;
    }
  }

  @include respond-to(huge) {
    padding-top: 0;

    &__content {
      padding-top: 200px;
      padding-left: 100px;
    }

    &__heading {
      &--abstract {
        &::before {
          top: -40px;
          right: 20%;
          width: 40px;
          height: 60px;
        }
      }

      &--highlighted {
        & img {
          width: 60px;
          height: 60px;
        }
      }
    }

    &__paragraph {
      margin-bottom: 30px;
    }

    &__btn {
      margin-bottom: 60px;
    }

    &__abstract {
      top: 110px;
      right: 70px;
    }

    &__img-container {
      max-width: 40%;
      padding-top: 160px;
    }
  }
}

.overview {
  @include display-flex;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid $border-grey;

  &__img-container {
    width: min(100%, 270px);
  }

  &__img {
    margin-inline: auto;
  }

  &__content {
    @include display-flex;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__paragraph {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
  }

  &__btn {
    margin-top: 20px;
  }

  @include respond-to(medium) {
    @include display-flex(row);
    padding: 4rem 2rem;

    &:nth-of-type(odd) {
      @include display-flex(row-reverse);
    }

    &__img-container {
      width: 45%;
    }

    &__content {
      @include display-flex(column, start);
      width: 55%;
    }

    &__heading {
      margin-bottom: 25px;
    }

    &__btn {
      margin-top: 30px;
    }
  }

  @include respond-to(large) {
    &__img-container {
      width: 50%;
    }

    &__content {
      width: 50%;
    }

    &__paragraph {
      gap: 10px;
    }

    &__heading {
      margin-bottom: 35px;
    }

    &__btn {
      margin-top: 40px;
    }
  }

  @include respond-to(huge) {
    padding-inline: 100px;

    &:last-of-type {
      padding: 6rem 100px;
    }

    &__paragraph {
      gap: 20px;
    }

    &__btn {
      margin-top: 50px;
    }
  }
}

.faqs {
  @include display-flex;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid $border-grey;

  &__img-container {
    width: min(100%, 270px);
  }

  &__img {
    margin-inline: auto;
  }

  &__content {
    @include display-flex;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__paragraph {
    margin-bottom: 40px;
  }

  @include respond-to(medium) {
    @include display-flex(row);
    padding: 4rem 2rem;

    &__img-container {
      width: 45%;
    }

    &__content {
      @include display-flex(column, start);
      width: 55%;
    }

    &__heading {
      margin-bottom: 25px;
    }
  }

  @include respond-to(large) {
    &__img-container {
      width: 50%;
    }

    &__content {
      width: 50%;
    }

    &__heading {
      margin-bottom: 35px;
    }
  }

  @include respond-to(huge) {
    padding-inline: 100px;
    padding-inline-start: 150px;

    &__img-container {
      width: 60%;
    }

    &__content {
      width: 40%;
    }
  }
}
