@use '../abstracts/' as *;

.hero {
  @include display-flex;
  gap: 16px;
  min-height: 100vh;
  padding-top: 170px;
  border-bottom: 1px solid $border-grey;

  &__content {
    @include display-flex;
    gap: 10px;
    padding: 0 2rem;
    margin-top: auto;
  }

  &__heading {
    &--abstract {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: -50%;
        right: 20%;
        width: 20px;
        height: 27px;
        background-image: url(../images/creative.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--highlighted {
      display: inline-flex;
      align-items: center;
      justify-content: end;

      & img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__paragraph {
    margin-bottom: 20px;
  }

  &__abstract {
    position: absolute;
    top: 100px;
    z-index: 5;

    &--highlighed {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: -10px;
        right: 0;
        left: 0;
        height: 10px;
        background-image: url(../images/curved.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: auto;

    &::after {
      position: absolute;
      content: '';
      left: 5%;
      bottom: 10%;
      width: calc(100% - 13%);
      height: 90%;
      background-image: url(../images/hero-overlay.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  @include respond-to(medium) {
    @include display-flex(column, center, end);
    gap: 40px;
    padding-top: 180px;

    &__abstract {
      top: 110px;
    }

    &__img-container {
      max-width: 550px;
    }
  }

  @include respond-to(large) {
    @include display-flex(row, center, space-between);
    gap: 0;

    &__content {
      @include display-flex(column, start);
      width: 50%;
      padding-right: 0;
      padding-bottom: 50px;
    }

    &__heading {
      &--abstract {
        &::before {
          width: 30px;
          height: 45px;
        }
      }

      &--highlighted {
        & img {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__paragraph {
      margin-bottom: 25px;
    }

    &__btn {
      margin-bottom: 30px;
    }

    &__abstract {
      right: 50px;

      &--highlighed {
        &::after {
          height: 20px;
          bottom: -15px;
        }
      }
    }

    &__img-container {
      max-width: 50%;
    }
  }

  @include respond-to(huge) {
    padding-top: 0;

    &__content {
      padding-top: 200px;
      padding-left: 100px;
    }

    &__heading {
      &--abstract {
        &::before {
          top: -40px;
          right: 20%;
          width: 40px;
          height: 60px;
        }
      }

      &--highlighted {
        & img {
          width: 60px;
          height: 60px;
        }
      }
    }

    &__paragraph {
      margin-bottom: 30px;
    }

    &__btn {
      margin-bottom: 60px;
    }

    &__abstract {
      top: 110px;
      right: 70px;
    }

    &__img-container {
      max-width: 40%;
      padding-top: 160px;
    }
  }
}

.overview {
  @include display-flex;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid $border-grey;

  &__img-container {
    width: min(100%, 270px);
  }

  &__img {
    margin-inline: auto;
  }

  &__content {
    @include display-flex;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__paragraph {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
  }

  &__btn {
    margin-top: 20px;
  }

  @include respond-to(medium) {
    @include display-flex(row);
    padding: 4rem 2rem;

    &:nth-of-type(odd) {
      @include display-flex(row-reverse);
    }

    &__img-container {
      width: 45%;
    }

    &__content {
      @include display-flex(column, start);
      width: 55%;
    }

    &__heading {
      margin-bottom: 25px;
    }

    &__btn {
      margin-top: 30px;
    }
  }

  @include respond-to(large) {
    &__img-container {
      width: 50%;
    }

    &__content {
      width: 50%;
    }

    &__paragraph {
      gap: 10px;
    }

    &__heading {
      margin-bottom: 35px;
    }

    &__btn {
      margin-top: 40px;
    }
  }

  @include respond-to(huge) {
    padding-inline: 100px;

    &:last-of-type {
      padding: 6rem 100px;
    }

    &__paragraph {
      gap: 20px;
    }

    &__btn {
      margin-top: 50px;
    }
  }
}

.faqs {
  @include display-flex;
  padding: 2rem;
  gap: 60px;
  border-bottom: 1px solid $border-grey;

  &__img-container {
    width: min(100%, 270px);
  }

  &__img {
    margin-inline: auto;
  }

  &__content {
    @include display-flex;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__paragraph {
    margin-bottom: 40px;
  }

  @include respond-to(medium) {
    @include display-flex(row);
    padding: 4rem 2rem;

    &__img-container {
      width: 45%;
    }

    &__content {
      @include display-flex(column, start);
      width: 55%;
    }

    &__heading {
      margin-bottom: 25px;
    }
  }

  @include respond-to(large) {
    &__img-container {
      width: 50%;
    }

    &__content {
      width: 50%;
    }

    &__heading {
      margin-bottom: 35px;
    }
  }

  @include respond-to(huge) {
    padding-inline: 100px;
    padding-inline-start: 150px;

    &__img-container {
      width: 60%;
    }

    &__content {
      width: 40%;
    }
  }
}

.timeline {
  @include display-flex;
  padding: 5rem 2rem;
  border-bottom: 1px solid $border-grey;

  &__heading {
    margin-bottom: 20px;
  }

  &__paragraph {
    max-width: 40ch;
    margin-bottom: 40px;
  }

  &__inner {
    @include display-flex;
    gap: 25px;
    width: 100%;
  }

  &__event-container {
    position: relative;
    @include display-flex(column, auto, baseline);
    width: min(100%, 1050px);
    margin-inline: auto;
    padding-inline-start: 30px;
  }

  &__event {
    &::before {
      position: absolute;
      content: '1';
      display: inline-flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary-gradient;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0px;
      transform: translateX(10px);
      width: 2px;
      height: calc(100% - 25px);
      background-color: $soft-purple;
      z-index: -1;
    }
  }

  &__event-container:nth-of-type(2) &__event {
    &::before {
      content: '2';
    }
  }

  &__event-container:nth-of-type(3) &__event {
    &::before {
      content: '3';
    }
  }

  &__event-container:nth-of-type(4) &__event {
    &::before {
      content: '4';
    }
  }

  &__event-container:nth-of-type(5) &__event {
    &::before {
      content: '5';
    }
  }

  &__event-container:nth-of-type(6) &__event {
    &::before {
      content: '6';
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 12px;
  }

  @include respond-to(medium) {
    padding: 6rem 2rem;

    &__paragraph {
      margin-bottom: 60px;
    }

    &__inner {
      gap: 50px;
    }

    &__event-container {
      padding-inline-start: 0;
    }

    &__event {
      width: 46%;
      margin-block-start: auto;

      &::before {
        transform: translateX(-15px);
        left: 50%;
        width: 30px;
        height: 30px;
      }
      &::after {
        transform: translateX(0);
        top: -30%;
        left: 50%;
        height: calc(100% - 40px + 30%);
      }
    }

    &__event-container:nth-of-type(even) &__event {
      margin-inline-start: auto;
    }

    &__event-container:first-of-type &__event {
      &::after {
        top: 0;
        height: calc(100% - 40px);
      }
    }

    &__content {
      transform: translateY(25%);
    }

    &__info {
      margin-bottom: 0;
    }

    &__date {
      position: absolute;
      bottom: 10px;
      left: 54%;
    }

    &__event-container:nth-of-type(even) &__date {
      width: 46%;
      left: 0;
    }
  }

  @include respond-to(large) {
    &__paragraph {
      margin-bottom: 80px;
    }

    &__event-container {
      min-height: 150px;
    }
  }

  @include respond-to(huge) {
    padding: 8rem 100px;

    &__heading {
      margin-bottom: 16px;
    }

    &__paragraph {
      margin-bottom: 100px;
    }

    &__event {
      &::before {
        transform: translateX(-25px);
        width: 50px;
        height: 50px;
      }
      &::after {
        top: -20%;
        left: 50%;
        height: calc(100% - 60px + 20%);
      }
    }

    &__event-container:first-of-type &__event {
      &::after {
        top: 0;
        height: calc(100% - 60px);
      }
    }
  }
}

.prizes {
  @include display-grid($rows: repeat(2, auto));
  row-gap: 40px;
  padding: 4rem 0rem;

  &__content {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-inline: auto;
  }

  &__heading {
    margin-bottom: 5px;
  }

  &__img-container {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-inline: auto;
    width: min(100%, 270px);
  }

  &__img {
    margin-inline: auto;
  }

  &__inner {
    grid-column: 1/2;
    grid-row: 3/4;
    @include display-flex(row);
    gap: 12px;
    margin-top: 25%;
    margin-inline: auto;
  }

  &__position {
    position: relative;
    @include display-flex;
    min-height: 125px;
    min-width: 90px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $soft-purple;
    background-color: rgba(212, 52, 254, 0.12);

    &::before {
      position: absolute;
      content: '';
      top: -45%;
      width: 80%;
      aspect-ratio: 2/3;
      background-image: url(../images/position2.png);
      background-size: 120%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:nth-of-type(2) {
      transform: translateY(10px);
      border-color: $purple;
      background-color: rgba(144, 58, 255, 0.12);

      &::before {
        top: -85%;
        width: 120%;
        aspect-ratio: 2/3;
        background-image: url(../images/position1.png);
        background-size: 110%;
      }
    }

    &:nth-of-type(3)::before {
      background-image: url(../images/position3.png);
    }
  }

  &__title {
    margin-top: 50%;

    & > span {
      display: block;
    }
  }

  &__position:nth-of-type(2) &__title {
    margin-top: 30%;
  }

  @include respond-to(medium) {
    @include display-grid(40% 60%, repeat(2, max-content));
    padding: 6rem 2rem;

    &__content {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &__img-container {
      grid-column: 1/2;
      grid-row: 1/3;
      @include display-flex;
    }

    &__inner {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &__position {
      padding: 20px;

      &::before {
        top: -50%;
      }

      &:nth-of-type(2) {
        &::before {
          top: -85%;
        }
      }
    }

    &__title {
      margin-top: 55%;
    }

    &__position:nth-of-type(2) &__title {
      margin-top: 58%;
    }
  }

  @include respond-to(large) {
    padding: 8rem 100px;

    &__img-container {
      width: 100%;
    }

    &__position {
      padding: 30px;
    }
  }
}

.partners {
  @include display-flex;
  padding: 4rem 2rem;
  border-bottom: 1px solid $border-grey;

  &__heading {
    margin-bottom: 5px;
  }

  &__inner {
    @include display-flex;
    width: 100%;
    padding: 30px 15px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid $soft-purple;
    background: rgba(255, 255, 255, 0.01);
  }

  &__logos {
    @include display-grid(repeat(3, 1fr), repeat(2, 1fr));
    gap: 2px;
    width: min(100%, 900px);
  }

  &__logo-container {
    position: relative;
    @include display-flex;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      padding: 0 10px 8px;
    }

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      padding: 8px 10px 0;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: $soft-purple;
    }

    &:nth-of-type(1)::before,
    &:nth-of-type(2)::before,
    &:nth-of-type(4)::before,
    &:nth-of-type(5)::before {
      right: -3px;
      height: 80%;
      width: 2px;
    }

    &:nth-of-type(1)::before,
    &:nth-of-type(2)::before {
      top: 0;
    }

    &:nth-of-type(4)::before,
    &:nth-of-type(5)::before {
      bottom: 0;
    }

    &:nth-of-type(1)::after,
    &:nth-of-type(2)::after,
    &:nth-of-type(3)::after {
      bottom: -3px;
      height: 2px;
      width: 85%;
    }

    &:nth-of-type(2)::after {
      width: 70%;
    }

    &:nth-of-type(1)::after {
      left: 0;
    }

    &:nth-of-type(3)::after {
      right: 0;
    }
  }

  &__logo {
    width: 100%;
    max-width: 56px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  @include respond-to(medium) {
    padding: 6em 2rem;

    &__heading {
      margin-bottom: 10px;
    }

    &__inner {
      margin-top: 60px;
      padding: 80px 100px;
    }

    &__logo-container {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        padding: 0 20px 15px;
      }

      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        padding: 15px 20px 0;
      }
    }

    &__logo {
      max-width: 110px;
    }
  }

  @include respond-to(large) {
    &__inner {
      margin-top: 60px;
      padding: 100px 120px;
    }

    &__logo-container {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        padding: 0 35px 25px;
      }

      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        padding: 25px 35px 0;
      }
    }

    &__logo {
      max-width: 180px;
    }
  }

  @include respond-to(huge) {
    padding: 8rem 100px;

    &__inner {
      margin-top: 100px;
      padding: 130px 150px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      padding: 0 55px 45px;
    }

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      padding: 4 5px 55px 0;
    }

    &__logo {
      max-width: 230px;
    }
  }
}

.policy {
  @include display-flex;
  gap: 20px;
  padding: 4rem 2rem;

  &__heading {
    margin-bottom: 5px;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__inner {
    // @include display-flex(column, flex-start);
    width: min(100%, 569px);
    padding: 45px 15px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid $soft-purple;
    background-color: rgba(217, 217, 217, 0.03);
  }

  &__sub-heading {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  &__paragraph--highlighted {
    margin-bottom: 20px;
  }

  &__list {
    padding-inline-start: 40px;
  }

  &__listitem {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 5px;
      left: -30px;
      width: 17px;
      height: 17px;
      background-image: url(../icons/list\ marker.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-top: 40px;
  }

  &__img-container {
    padding: 100px 0 80px;
    width: min(100%, 270px);
    background-image: url(../images/policy-bg.png);
    background-size: 249px auto;
    background-position: center 5%;
    background-repeat: no-repeat;
  }

  &__img {
    margin-inline: auto;
  }

  @include respond-to(medium) {
    @include display-flex(row, center, space-between);
    padding: 6rem 2rem;

    &__content {
      width: 50%;
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__inner {
      padding: 45px 25px;
      margin-top: 45px;
    }

    &__img-container {
      width: 50%;
      padding: 150px 0 80px;
      background-size: 100% auto;
      background-position: center 5%;
    }
  }

  @include respond-to(large) {
    gap: 50px;

    &__heading {
      margin-bottom: 14px;
    }

    &__date {
      margin-bottom: 25px;
    }

    &__inner {
      padding: 50px 35px;
      margin-top: 55px;
    }
  }

  @include respond-to(huge) {
    padding: 8rem 100px;

    &__heading {
      margin-bottom: 17px;
    }

    &__date {
      margin-bottom: 30px;
    }

    &__inner {
      padding: 60px 40px;
      padding-left: 70px;
      margin-top: 69px;
    }

    &__btn {
      margin-left: calc(50% - 96px);
    }

    &__img-container {
      width: 50%;
      padding: 0;
      padding-top: 200px;
      background-size: auto 648px;
      background-position: center 0%;
    }
  }
}
